<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <title>협업돼지 백엔드</title>


    <script>
        function submitContent() {
            let contentId = new Date().getTime();
            let title = $('#title').val();
            let name = $('#name').val();
            let password = $('#pw').val();
            let content = $('#content').val();
            console.log(contentId, title, name, password, content);

            $.ajax({
                type: "POST",
                url: `/api/posts`,
                data: {
                    contentId: contentId,
                    title: title,
                    name: name,
                    password: password,
                    content: content
                },
                success: function (response) {
                    console.log("POST API successful");
                }
            })
            window.location.href = '/allEntries';
        }
    </script>
</head>

<body>

    <div>
        꿀꿀
    </div>
    <img src='https://i.pinimg.com/originals/aa/a5/0e/aaa50efb325e6b16b26c530fe6d3ca43.jpg'>
    <!-- <div>
        <div>
            제목: <input id="title" type="text">
        </div>
        <div>
            작성자명: <input id="name" type="text">
        </div>
        <div>
            비밀번호: <input id="pw" type="password">
        </div>
        <div>
            내용: <textarea id="content" type="text"></textarea>
        </div>
        <div>
            <button onclick="submitContent()">글쓰기</button>
        </div>
        <input placeholder='asdf'>
    </div> -->
</body>

</html>